body{
    margin: 0;
    top: 100px;
    line-height: normal;
    /* background-color: #a4a0a0; */
    background-image: url("assets/images/pexels-photo-7130469.webp");
}
:root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-mini: 15px;
    --font-size-sm: 14px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkgray: #a4a0a0;
    --color-darkorange: #f58013;
    --color-darkslategray: #393535;
    --color-whitesmoke: #f4f2f2;
}
*{
    margin: 0;
    padding: 0;
  }
  html{
    font-family:sans-serif;
  }
  .bg-img {
    background-image: url("assets/images/pexels-photo-7130469.webp");
    min-height: 740px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  /* Menu */
  #menu{
    position: absolute;
    float: left;
    margin: 20px;
  }
  .topnav {
    overflow: hidden;
    background-color: black;
  }
  .topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav button.active{
    color: white;
    background-color: red;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown button{
    border-radius: 0%;
    
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Content */
.user-scenario{
    position: relative;
    top: 100px;
    left: 400px;
    margin-bottom: 140px;
    width: 423px;
    height: 483px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
    position: absolute;
    top: 7px;
    left: 168px;
    width: 88px;
    height: 71px;
    object-fit: cover;
}
.Login,
.signin{
    position: absolute;
    color: #f58013;
    top: 77px;
    left: 114px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    display: inline-block;
    width: 197px;
    height: 52px;
}
.signin{
    top: 130px;
    left: 156px;
    font-size: var(--font-size-mini);
    font-weight: 500;
    color: var(--color-darkslategray);
    text-align: left;
    width: 240px;
    height: 28px;
}
header{
    position: absolute;

    left: 0px;
    width: 423px;
    height: 150px;
    overflow: hidden;
    background-color: #fff;
}
main{
    display: block;
    position: absolute;
    bottom: 400px;
    top: 150px;
    box-sizing: border-box;
    height: auto;
}
.login1{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 550;
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 349px;
    background-color: #fcbb3f;
    height: 45px;
}
.input-group input{
    width: 349px;
    height: 56px;
    margin-bottom: 10px;
    margin-left: 30px;
    background-color: #ebe4e4;
}
input[type="checkbox" i]{
    margin-left: 30px;

}
a:-webkit-any-link{
    text-decoration: none;
}
main a.sign-up{
    margin-left: 180px;
    color: #f58013;
}
main a.forgot{
    margin-left: 150px;
    color: #f58013;
    font-weight: 500;
}
.add_img section{
    width: auto;
    height: auto;
    margin: 10px;
}
.add_img img{
    width: 700px;
    height: 400px;
    margin: 30px 30px 0px 30px;
}
.add_img a{
    text-decoration: none;
    color: red;
    font-size: 30px;
}